* {
	margin: 0;
	padding: 0;
    font-weight: bold;
    color: white; 
}
body {
    min-height: 100%;
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/img2.jpg);
    background-size: cover;
}

.btnColor {
    color: black;
}
/*Header*/
.container-top {
    text-align: center;
}
.container-top h1 {
    border-top-style: solid;
    border-width: 10px;
    border-bottom-style: solid;
    width: 100px;
    margin: 50px auto; 
}
/*Not Devoured*/
.container-left {
    border: 1px solid;
    width: 33.33%;
    height: 100%;
    float: left;
}
.titleCenter  {
    text-align: center;
}
/*Add a burger*/
.container-middle {
    border: 1px solid;
    float: left;
    width: 33.33%;
    height: 100%;
}
/*Devoured*/
.container-right {
    border: 1px solid;
    float: right;
    width: 33.33%;
    height: 100%;
}

